// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/light';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.fas {
    font-family: FontAwesome, fa-solid-900;
}

.fab {
    font-family: FontAwesome, fa-brands-400;
}

.far {
    font-family: FontAwesome, fa-regular-400;
}

ActionBar {
    background: #9068b9;
    color: #fff;
}
